version: '2'

services:
  consul:
    image: consul
    ports:
     - "8500:8500"
     - "8301"
    command: ["agent", "-server", "-bind=172.16.238.2", "-client=172.16.238.2", "-ui", "-bootstrap-expect=1", "-advertise=172.16.238.2"]
    networks:
      consul_network:
        ipv4_address: 172.16.238.2

  consulagent:
    image: consul
    command: ["agent", "-dev", "-bind=172.16.238.3", "-client=172.16.238.3"]
    networks:
      consul_network:
        ipv4_address: 172.16.238.3


  vault:
    image: vault

networks:
  consul_network:
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "false"
    ipam:
      driver: default
      config:
      - subnet: 172.16.238.0/24
        gateway: 172.16.238.1
